<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8f20b5f6-1f5d-4e70-9e3b-c2f483a77128/resourceGroups/rg-api/providers/Microsoft.Web/sites/datapapi</ResourceId>
    <ResourceGroup>rg-api</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://datapapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>36d1720c-3db6-4203-bbe2-dbd2f0179348</ProjectGuid>
    <PublishUrl>https://datapapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$datapapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>